@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

div[data-rk] {
    display: flex;
    flex-direction: column;
  }
  

  /* :root {
    --background: #ffffff;
    --foreground: #000000;
    --hover-background: #e0e0e0;
    --hover-foreground: #222222;
  }
  
  [data-theme="dark"] {
    --background: #1f1d1d;
    --foreground: #ffffff;
    --hover-background: #333333;
    --hover-foreground: #dddddd;
  }
  
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  } */